/**
 * Colors
 */
$primary: #353535;
$secondary: #77808a;
$accent: #3f51b5;
$black: #000;
$white: #fff;
$light_1: #fbfbfd;
$light_2: #f3f5f7;
$light_3: #edf0f3;
$red: #fd494c;
$pink: #e868a3;
$border: #dbe1e7;
$gradient_1: #4d67d2;
$gradient_2: #7258a2;
$shadow: rgba(#000, .14);
/**
 * Constant
 */
$page-width: 776px;
$page-width_narrow: 480px;
$header-height: 56px;
$v-margin_desktop: 20px;
$v-margin_mobile: 12px;
